body{
    background-image: url("https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat; 
    font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left; 
}
html{
    font-family: sans-serif;
    line-height: 2;
    -webkit-text-size-adjust: 50%;
}
header{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
p{
    margin-top: 0;
 height:20px; 
 justify-content: center;  
}
img{
    vertical-align: middle;
border-style: none;
}
form{
    padding: 20px;
    margin: 30px;
    float: left;
}
button{
    border-radius: 0;
    
}
h{
    margin-left: 0%;
    padding: 0px;
    float: left;
}
